/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-25-2020, 01:25:15 PM
    Author     : Nvidi
*/


.ui-orderlist .ui-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    border: none;
}
body , html{
    margin :0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}


/* Shared */
.btnCopy {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.1em;
    border: none;
    text-align: center;
    line-height: 29.3px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /*width: 332px !important;*/
    /* width: 13em;  - apply for fixed size */
    margin: 0.1em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: center;
    line-height: 29.3px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

/* Omega */
.loginBtn--omega {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #2399e5;
    border: #1f89ce;
}

.btnCopy--omega {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #2399e5;
    border: #1f89ce;
}

.loginBtn--omega:before {

}
.loginBtn--omega:hover,
.loginBtn--omega:focus {
    background: #1f89ce;
}
.dashboard {
    margin-top: 16px; }


.dashboard .card {

    margin-left:1.25%;
    margin-right:1.5%;
    margin-bottom:0%;
    margin-top:1%;
    overflow:hidden; 
    border:#C7C1C8;
    border-style:none;
    border-radius:8px;
}
.dashboard .summary {
    height: 175px;
    width:88%;
    display:block;

    position:relative; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {

    background:none ;
    color: #000;
}

.ui-widget-content {
    background:none ;

}

#ui-datepicker-div{
    background:#fff;
}
.ui-datepicker .ui-datepicker-header, .ui-datepicker .ui-timepicker-div>.ui-widget-header{
    background:#0388e5;
    color:#fff;
    border:none;
}

.ui-datepicker .ui-datepicker-title{
    color:#fff;
}

.ui-datepicker .ui-datepicker-header, .ui-datepicker .ui-timepicker-div>.ui-widget-header{
    border:none;
}

/*Esto es para que este estilo solo lo aplique en vista movil*/


.dashboard .summary {
    height: 150px;
    width: 60%;
    display: block;
    position: relative;
    left:20%;
    overflow:no-display;
}

.formRegistro{
     margin-top: 20px;
    box-sizing: border-box;
                            height: 40%;
                            width: 100%;
                            background-color: #ffffff;
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                            padding: 2em;
                            text-align: center;
                            color: #4f575b;
}

.tamanoRegistro{
        margin-left:-15px; 
        margin-right:-15px;
    }

    .logoRegistro{
        margin-left:0%;
    }
@media (max-width: 640px){
    .tamanoRegistro{
        margin-left:-75px; 
        margin-right:-30px;
    }
    
       .logoRegistro{
       margin-left:25%; 
    }
    
.wrapper .topbar #topbar-icons{
background:#0388e5;
margin-top:2.5%;

}

.dashboard .summary {
    height: 175px;
    width: 88%;
    display: block;
    position: relative;
    left:0%;
   
}
.dashboard.card{
    overflow:auto;
}

.dashboard .summary .detail2{
      color: #a4a4a4;
      font-size:14px;
      
      display:inline-block;
      text-align:justify;
      
      margin-left:2.5%;
     margin-top:20px;  
}



.formRegistro{
     margin-top: 20px;
     margin-bottom:10%;
 box-sizing: border-box;
                            height: 40%;
                            width: 120%;
                            background-color: #ffffff;
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                            padding: 2em;
                            text-align: center;
                            color: #4f575b;   
}
}
    




.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    background:#fff;
}

.wrapper .topbar #topbar-icons a:hover{
    color:#fff;
}

.dashboard .summary .hora{
   margin-top:2%;
   font-size:18px;
   color:#4e5159;
  
}

.dashboard .summary .horabtn{
    border:none;
    text-align:left;
    position:relative;
   
    margin:0;
    
    
}
.dashboard .summary .btnDuracion{
    position:absolute;
    border:none;
    size:100px;
    font-size:20px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .3em .2em .3em 2.1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon{
        position: absolute;
    top: 50%;
    height: 25px;
    margin-top: -8px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: 0.2em .8em .4em 2.1em
}

.ui-tabs .ui-tabs-panel{
    padding:0px;
}

.ui-tabs-panel .ui-widget-content .ui-corner-bottom{
    padding:0px;
}

.ui-tabs .ui-tabs-nav>li.ui-state-default.ui-state-active{
    background-color:#4e4e4e;
}

.botonesTabView:before{
    background-color:#fff;
}
.botonesTabView{
    background-color:#fff;
}

.botonesTabView:after{
      background-color:#4e4e4e;
      color:#fff;
}


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color:#fff;
}

.circuloLanding{
     height: 75px;
  width: 75px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.botonLoginLanding{
        border: none;
    outline: none;
    height: 40px;
    width: 100px;
    background: blue;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5%;
    margin: 0;
}

